@font-face {
  font-family: Agency_FB;
  src: url("./../fonts/agency_fb.ttf") format("truetype") /* Safari, Android, iOS, Chrome, Firefox */
}

@font-face {
  font-family: Kraash;
  src: url("./../fonts/kraash_black.ttf") format("truetype") /* Safari, Android, iOS, Chrome, Firefox */
}

@font-face {
  font-family: Label;
  src: url("./../fonts/label.ttf") format("truetype") /* Safari, Android, iOS, Chrome, Firefox */
}

@font-face {
  font-family: Stone;
  src: url("./../fonts/stoNe.ttf") format("truetype") /* Safari, Android, iOS, Chrome, Firefox */
}

@font-face {
  font-family: Sister;
  src: url("./../fonts/LoveYaLikeASister.ttf") format("truetype") /* Safari, Android, iOS, Chrome, Firefox */
}
