
.game-link {
    .card {
        padding: 10px;
    }
    min-width: 400px;
    max-width: 95%;
    img {
        max-width: 100%;
    }
    .links {
        display: flex;
        justify-content: center;
    }
    a {
        font-size: 1.6rem;
    }
}