.main-content {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.fb_iframe_widget.fb-like {
    position: absolute;
    top: 0px;
    left: 10px;
}