@import "../styles/_colors";

#top-navbar {
    background-color: $navbar-bg-color;
    padding: 0 0.5em;

    img {
        height: 30px;
    }
}

.nav {
  justify-content: center;
}

$nav-link-active-glow-color: rgba(0, 0, 0, 0.329);

.nav-link {
    margin: 10px 0;
    padding: 0;
    color: $navbar-color;
    font-size: 1.5rem;
    &.active {
        color: white;
        text-shadow: 1px 1px 1px #000;
        -webkit-box-shadow: 0 8px 6px -6px $nav-link-active-glow-color;
	    -moz-box-shadow: 0 8px 6px -6px $nav-link-active-glow-color;
	    box-shadow: 0 8px 6px -6px $nav-link-active-glow-color;
    }
    &:hover {
        color: lighten($navbar-color, 10%);
    }
}